<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Storage Service</title>
    </head>
    <body onload="javascript:gettoken()">
		
		<script type="text/javascript">	

			function gettoken() {
			
				// Get the 'code' value from the current URL
				var current_code = window.location.href.split('?code=')[1];
				console.log("URL: " + window.location.href);
				console.log("Split: " + current_code);
				
				// Define the header
				var myHeaders = new Headers();
				myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

				// Define the body
				var urlencoded = new URLSearchParams();
				urlencoded.append("grant_type", "authorization_code");
				urlencoded.append("client_id", "706u2dl32g17n4809n4sg2a24q");
				urlencoded.append("redirect_uri", "https://main.d2cr6f6lf1jopj.amplifyapp.com/loggedin.html");
				urlencoded.append("code", current_code);
				urlencoded.append("client_secret", "9q71uf3fal0g0ru7f23m7gue6mi82ain1d1soe690un01c4f6nf");

				// Prepare the POST request
				var requestOptions = {
				  method: 'POST',
				  headers: myHeaders,
				  body: urlencoded,
				  redirect: 'follow'
				};

				// Send the request with the correct parameters
				fetch("https://cloudstorage.auth.eu-central-1.amazoncognito.com/oauth2/token", requestOptions)
				  .then(response => response.text())
				  
				// Find the access token
				  .then(result => {
					console.log(result);
					var token = result.split('id_token":"')[1];		// 'access_token', 'refresh_token' etc. can also be addressed
					token = token.split('","')[0];
					
				// Convert the body of the token from JWT into a readable format
					token = JSON.parse(atob(token.split(".")[1]));
					token = JSON.stringify(token);
					
				// Find the email address inside the stringified JSON token
					email_addr = token.split('"email":"')[1];
					email_addr = email_addr.split('"')[0];
					
				// Write the web page if the token is found and the email address gotten	
					document.write(
					'User: ' + email_addr + '<br>' +
					'<a href="https://cloudstorage.auth.eu-central-1.amazoncognito.com/logout?client_id=706u2dl32g17n4809n4sg2a24q&logout_uri=https://main.d2cr6f6lf1jopj.amplifyapp.com/">Logout</a><br><br>' +
					//'<input type="submit" value="Token" onclick="gettoken()"><br><br>' +
					'<input type="submit" value="Token"><br><br>' +
					
					'<div id="app">' +
					  '<h1>S3 Uploader Test</h1>' +
				  
					  '<div v-if="!image">' +
						'<h2>Select an image</h2>' +
						'<input type="file" @change="onFileChange">' +
					  '</div>' +
					  '<div v-else>' +
						'<img :src="image" />' +
						'<button v-if="!uploadURL" @click="removeImage">Remove file</button>' +
						'<button v-if="!uploadURL" @click="uploadImage">Upload file</button>' +
					  '</div>' +
					  '<h2 v-if="uploadURL">Success! File uploaded to bucket.</h2>' +
					'</div>'
				);
				
				
				  })
				  //.catch(error => console.log('error', error));
				  .catch(error => {
					window.alert("ERROR");
				  });
				
			}
		

			
				console.log("id_token: " + id_token);
				
				var token = JSON.parse(atob(id_token.split(".")[1]));
				console.log(token);
				
				var email_addr = JSON.stringify(token);
				email_addr = email_addr.split('"email":"')[1];
				email_addr = email_addr.split('"')[0];
				console.log("Email: " + email_addr);
				
				document.write(
					'User: ' + email_addr + '<br>' +
					'<a href="https://cloudstorage.auth.eu-central-1.amazoncognito.com/logout?client_id=706u2dl32g17n4809n4sg2a24q&logout_uri=https://main.d2cr6f6lf1jopj.amplifyapp.com/">Logout</a><br><br>' +
					'<input type="submit" value="Token" onclick="gettoken()"><br><br>' +
					
					'<div id="app">' +
					  '<h1>S3 Uploader Test</h1>' +
				  
					  '<div v-if="!image">' +
						'<h2>Select an image</h2>' +
						'<input type="file" @change="onFileChange">' +
					  '</div>' +
					  '<div v-else>' +
						'<img :src="image" />' +
						'<button v-if="!uploadURL" @click="removeImage">Remove file</button>' +
						'<button v-if="!uploadURL" @click="uploadImage">Upload file</button>' +
					  '</div>' +
					  '<h2 v-if="uploadURL">Success! File uploaded to bucket.</h2>' +
					'</div>' +
				);
			
			}
		</script>
		
		
    </body>
</html>
