<!DOCTYPE html>
<html>
  <head>
    <title>Upload file to S3</title>
    <script src="https://unpkg.com/vue@1.0.28/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  </head>
  <body onload="javascript:gettoken()">
    
	User: <p id="emailaddr"></p><br>
    <a href="https://cloudstorage.auth.eu-central-1.amazoncognito.com/logout?client_id=706u2dl32g17n4809n4sg2a24q&logout_uri=https://main.d2cr6f6lf1jopj.amplifyapp.com/">Logout</a><br><br>
    
    <div id="app">
      <h1>S3 Uploader Test</h1>
  
      <div v-if="!image">
        <h2>Select an image</h2>
        <!-- <input type="file" @change="onFileChange" accept="image/*,audio/*,video/*,.pdf"> -->
        <input type="file" @change="onFileChange">
      </div>
      <div v-else>
        <img :src="image" />
        <button v-if="!uploadURL" @click="removeImage">Remove file</button>
        <button v-if="!uploadURL" @click="uploadImage">Upload file</button>
      </div>
      <h2 v-if="uploadURL">Success! File uploaded to bucket.</h2>
    </div>
  
    <script>
      const MAX_IMAGE_SIZE = 100000000

      /* ENTER YOUR ENDPOINT HERE */
      const API_ENDPOINT = 'https://ciaxap8z77.execute-api.eu-central-1.amazonaws.com/uploads?filename='

      new Vue({
        el: "#app",
        data: {
          image: '',
          uploadURL: '',
          filename: ''
        },
        methods: {
          onFileChange (e) {
            let files = e.target.files || e.dataTransfer.files
            if (!files.length) return
            this.createImage(files[0])
          },
          createImage (file) {
            let reader = new FileReader()
            reader.onload = (e) => {
                console.log('length: ')
				if (e.target.result.length > MAX_IMAGE_SIZE) {
					return alert('File is loo large.')
				}
				this.image = e.target.result
				this.filename = file.name
            }
            reader.readAsDataURL(file)
          },
          removeImage: function (e) {
            console.log('Remove clicked')
            this.image = ''
            this.filename = ''
          },
          uploadImage: async function (e) {
            console.log('Upload clicked')
            // Get the pre-signed URL
            const response = await axios({
              method: 'GET',
              url: API_ENDPOINT + this.filename
            })
            console.log('Response: ', response)
            console.log('Uploading: ', this.image)
            let binary = atob(this.image.split(',')[1])
            let array = []
            for (var i = 0; i < binary.length; i++) {
              array.push(binary.charCodeAt(i))
            }
            let blobData = new Blob([new Uint8Array(array)])
            console.log('Uploading to: ', response.uploadURL)
            const result = await fetch(response.uploadURL, {
              method: 'PUT',
              body: blobData
            })
            console.log('Result: ', result)
            // Final URL for the user (doesn't need the query string parameters)
            this.uploadURL = response.uploadURL.split('?')[0]
          }
        }
      })

	
		function gettoken() {
		
			// Get the 'code' value from the current URL
			var current_code = window.location.href.split('?code=')[1];
			console.log("URL: " + window.location.href);
			console.log("Split: " + current_code);
			
			// Define the header
			var myHeaders = new Headers();
			myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

			// Define the body
			var urlencoded = new URLSearchParams();
			urlencoded.append("grant_type", "authorization_code");
			urlencoded.append("client_id", "706u2dl32g17n4809n4sg2a24q");
			urlencoded.append("redirect_uri", "https://main.d2cr6f6lf1jopj.amplifyapp.com/loggedin.html");
			urlencoded.append("code", current_code);
			urlencoded.append("client_secret", "9q71uf3fal0g0ru7f23m7gue6mi82ain1d1soe690un01c4f6nf");

			// Prepare the POST request
			var requestOptions = {
			  method: 'POST',
			  headers: myHeaders,
			  body: urlencoded,
			  redirect: 'follow'
			};

			// Send the request with the correct parameters
			fetch("https://cloudstorage.auth.eu-central-1.amazoncognito.com/oauth2/token", requestOptions)
			  .then(response => response.text())
			  
			// Find the access token
			  .then(result => {
				console.log(result);
				var token = result.split('id_token":"')[1];		// 'access_token', 'refresh_token' etc. can also be addressed
				token = token.split('","')[0];
				
			// Convert the body of the token from JWT into a readable format
				token = JSON.parse(atob(token.split(".")[1]));
				token = JSON.stringify(token);
				
			// Find the email address inside the stringified JSON token
				email_addr = token.split('"email":"')[1];
				email_addr = email_addr.split('"')[0];
				
			// Write the email address on the web page if the token is found and the email address gotten	
				document.getElementById("emailaddr").innerHTML = email_addr;
			  })
			
			// Throw an error if the token cannot be found
			  .catch(error => {
				window.alert("ERROR");
			  });
		}

    </script>
	
	
    <style type="text/css">
      body {
        background: #20262E;
        padding: 20px;
        font-family: sans-serif;
      }
      #app {
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        transition: all 0.2s;
        text-align: center;
      }
      #logo {
        width: 100px;
      }
      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }
      h1, h2 {
        font-weight: normal;
        margin-bottom: 15px;
      }
      a {
        color: #42b983;
      }
      img {
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </body>
</html>
